<nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgba(108, 185, 128, 0.699);">
  <div class="container-fluid">
  <a class="navbar-brand">
    <img src="https://www.mivivienda.com.pe/PortalCMS/archivos/documentos/FMV%20LOGO-3203.PNG" alt="Logo" class="img-fluid" style="max-height: 40px;" />
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home">Inicio</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" routerLink="/planPagos">Plan Pagos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/misPlanes">Mis Planes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login" (click)="logout()">Log Out</a>
      </li>
    </ul>
  </div>
</div>
</nav>
