<app-sidevaar></app-sidevaar>





<body>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <main role="main">
    <!-- Contenido principal -->
     <!-- Contenido principal -->
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">{{mensajeBienvenida}} </h1>
      <p class="lead text-muted">¡Bienvenido al Programa de Plan de Pagos del Fondo MiVivienda! Aquí te brindamos opciones personalizadas para que puedas crear tu propio plan de pagos y llevar a cabo el sueño de adquirir tu vivienda propia en Perú.</p>
    </div>
  </section>

<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <img src="https://www.mivivienda.com.pe/PortalWEB/resource/img/home/stk01.jpg" class="img-fluid" alt="Imagen 1">
      </div>
      <div class="col-md-4">
        <img src="https://www.mivivienda.com.pe/PortalWEB/resource/img/home/stk03.jpg" class="img-fluid" alt="Imagen 2">
      </div>
      <div class="col-md-4">
        <img src="https://www.mivivienda.com.pe/PortalWEB/resource/img/home/stk02.jpg" class="img-fluid" alt="Imagen 3">
      </div>
    </div>
  </div>
</div>

 <!-- Cuadros de información -->
<section class="info-section text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card mb-4 box-shadow d-flex align-items-stretch h-100">
          <div class="card-body">
            <h5 class="card-title">Iniciemos creando un Plan de Pagos</h5>
            <p class="card-text">Te guiaremos a través de un proceso sencillo para establecer los detalles de tu plan, como el monto del préstamo, el plazo y la tasa de interés. Con esta información, generaremos un plan de pagos que se ajuste a tus posibilidades financieras y te ayudaremos a calcular las cuotas mensuales.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 box-shadow d-flex align-items-stretch h-100">
          <div class="card-body">
            <h5 class="card-title">Revisemos nuestros Planes Guardados</h5>
            <p class="card-text">Si ya has creado planes de pagos previos, aquí puedes acceder a ellos. Podrás ver los detalles de cada plan, incluyendo el monto del préstamo, el plazo, la tasa de interés y las cuotas mensuales. También tendrás la opción de realizar modificaciones si lo deseas.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 box-shadow d-flex align-items-stretch h-100">
          <div class="card-body">
            <h5 class="card-title">Podremos ver a detalle nuestros Planes</h5>
            <p class="card-text">Podremos revisar los detalles de nuestros Planes guardados para poder tener una mayor perspectiva de nuestras operaciones y continuar con nuestra planificacion obtenida asi tambien como poder eliminar aquellos que ya no necesitamos.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
  </main>

  <footer class="text-muted">
    <div class="container">
      <p class="float-right">
      </p>
      <p>Sebastian Montes &copy; 2023</p>
    </div>
  </footer>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>

