<div class="register-container">
  <div class="card">
    <img src="https://www.mivivienda.com.pe/PortalCMS/archivos/documentos/FMV%20LOGO-3203.PNG" alt="Finance" width="300" >
    <h1>Registro</h1>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <div class="form-group">
        <label for="username">
          <mat-icon>person</mat-icon>
        </label>
        <input type="text" id="username" formControlName="username" placeholder="Ingrese el nombre de usuario" required>
        <div class="error" *ngIf="form.get('username')?.hasError('userExists')">
          <span class="error-message">Username already exists</span>
        </div>
      </div>
      <div class="form-group">
        <label for="email">
          <mat-icon>email</mat-icon>
        </label>
        <input type="email" id="email" formControlName="email" placeholder="Ingrese su correo electrónico" required>

      </div>
      <div class="form-group">
        <label for="password">
          <mat-icon>lock</mat-icon>
        </label>
        <input type="password" id="password" formControlName="password" placeholder="Ingrese contraseña" required>

      </div>
      <div class="form-group">
        <label for="confirmPassword">
          <mat-icon>lock</mat-icon>
        </label>
        <input type="password" id="confirmPassword" formControlName="confirmPassword" placeholder="Confirme contraseña" required>
        <div class="error" *ngIf="form.get('password')?.value !== form.get('confirmPassword')?.value && form.get('confirmPassword')?.touched">
          <span class="error-message">Passwords do not match</span>
        </div>
      </div>
      <button type="submit" class="register-btn">Registrar</button>
      <button type="button" class="return-btn" (click)="goBack()">Regresar</button>
    </form>
  </div>
</div>
